<div class="col-md-6 col-lg-4 my-3 pr-5">
    <div class="row">
        <div width="70">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </div>
        <div class="col">
            <h5>
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
                said {{ moment(post.timestamp).fromNow() }}
            </h5>
            <p>
                {{ post.body }}
            </p>
        </div>
    </div>
</div>