{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %} {{ title }} Microblog. {% else %} Welcome to Microblog {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a></li>
                {% if g.search_form %}
                <form class="nav-item form-inline ml-md-2" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                                    placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
            {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('main.messages') }}" class="nav-link">
                        Messages <span class="badge badge-light">{{ current_user.new_messages() }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script>
    $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: true,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('hide');
                    }
                }
            );
        });
</script>
{% endblock %}